<.header>
  New Todo
  <:subtitle>Add a new todo to your list.</:subtitle>
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/lists/#{@list_id}/todos"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Title" />
  <:actions>
    <.button>Save Todo</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/lists/#{@list_id}"}>Back to list</.back>
