<.header>
  Todo <%= @todo.title %>
  <:actions>
    <.link href={~p"/lists/#{@list_id}/todos/#{@todo}/edit"}>
      <.button>Edit todo</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @todo.title %></:item>
  <:item title="Completed"><%= @todo.completed %></:item>
</.list>

<.back navigate={~p"/lists/#{@list_id}"}>Back to list</.back>
