<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "PhxTodo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <div class="max-w-7xl mx-auto">
      <ul class="relative z-10 flex flex-col sm:flex-row items-center gap-4 p-4 sm:px-6 lg:px-8 justify-between">
        <li class="flex items-center gap-4">
          <.link
            href={~p"/"}
            class="bg-brand/5 text-brand text-xl rounded-full px-2 font-medium leading-6"
          >
            PhxTodo: Create and share TODOs ✅
          </.link>
        </li>
        <%= if @current_user do %>
          <li class=" flex flex-row text-[0.8125rem] leading-6 text-zinc-900 space-x-4">
            <p><%= @current_user.email %></p>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Settings
            </.link>

            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <div class="flex flex-row space-x-4">
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log in
            </.link>
          </li></div>
        <% end %>
      </ul>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </body>
</html>
