<div class="flex my-8">
  <%= if @current_user do %>
    <div class="flex flex-col space-y-4">
      <p class="text-zinc-900">
        Welcome back, {@current_user.email}!
      </p>
    </div>
  <% else %>
    <div class="space-y-4 flex sm:space-y-32 sm:py-16 flex-col justify-center items-center w-full">
      <h1 class="sm:text-6xl">Create TODOs and share with friends!</h1>
      <img src={~p"/images/logo.svg"} alt="Logo" class="max-w-xl" />
    </div>
  <% end %>
</div>
