<.header>
  New List
  <:subtitle>Create a new todo list.</:subtitle>
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/lists"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Title" />
  <:actions>
    <.button>Save List</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/lists"}>Back to lists</.back>
